body {

    padding: 0px;
    margin: 0px;
    background-color: #dbdbdb;
    margin-bottom: 100px;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    margin: 0 auto;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: 0.7s;

}

.header-left{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 25px;


}

.menu{

    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    color:white;
    font-weight: 700;
    text-decoration: none;
    margin-right: 25px;
    align-self: center;

}

.menu a{

    color: white;
    text-decoration: none;
}

.menu li {
    padding: 10px 25px;
    border: 3px solid white;
    margin: 5px;
    text-decoration: none;

}

.menu li:hover{
    color: rgb(0, 255, 34);
    transform: scale(1.05);
    border-bottom: 5px solid rgb(0, 255, 34);







}
#logo{
    width: 90px;
    height: 90px;
    background: url(Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-self: center;


}

.content1{

    height: 1000px;
    background: url(Background.jpg) no-repeat;
    width: 100%;
    border-bottom: 5px solid white;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;

}
.content1 p{

    align-self: center;
    color:white;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px 0px black;

}

#mainButton{
    margin: 0 auto;
    border: none;
    font-size: 3rem;
    padding: 30px;
    background: none;
    border: 5px solid white;
    border-radius: 12px;
    font-weight: 700;
    background: rgb(0, 255, 34);
    text-transform: uppercase;
    box-shadow: 2px 2px 10px 0px black;
    opacity: 0.8;
}

#mainButton:hover{
    background:none;
    background-color: rgb(0, 211, 28);

}

.content3{

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    

}
footer{
    position: fixed;
    bottom: 0px;
    height: auto;
    border-top: 2px solid white;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    font-size: 1.25rem;
    background: #b8b8b8;
    align-content: center;
}